{
  "openapi": "3.0.3",
  "info": {
    "title": "User Service API",
    "version": "2.0"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CredentialPair": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "tokenValidInHours": {
            "type": "number"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "Permission": {
        "type": "string",
        "enum": [
          "admin",
          "readUser",
          "register-to-pi-monitoring-server",
          "read-pi-monitoring-status",
          "read-shopping-list-items",
          "use-notify-me",
          "use-gym-data",
          "gym-data-admin",
          "use-home-catalog"
        ]
      },
      "TechnicalAuthTokenMeta": {
        "type": "object",
        "required": ["description", "permissions"],
        "properties": {
          "description": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          }
        }
      },
      "TechnicalAuthTokenAddResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/TechnicalAuthTokenMeta"
          }
        ],
        "properties": {
          "token": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "required": ["description", "permissions", "token", "id"]
      },
      "PartialUser": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "legacyObjectId": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartialUser"
          }
        ],
        "required": ["email", "password", "permissions", "id"]
      },
      "UserToCreateOrUpdate": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartialUser"
          }
        ],
        "required": ["email", "password", "permissions"]
      }
    }
  },
  "servers": [
    {
      "url": "https://api.danielhammerl.de/user-service"
    }
  ],
  "paths": {
    "/auth/login": {
      "summary": "Used to get an access token by credentials",
      "post": {
        "operationId": "login",
        "tags": ["auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialPair"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login was successful",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["token", "durationInSeconds", "userId", "permissions"],
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "durationInSeconds": {
                      "type": "number"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Permission"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/heartbeat": {
      "summary": "Returns new access token when logged in",
      "post": {
        "operationId": "heartbeat",
        "tags": ["auth"],
        "responses": {
          "200": {
            "description": "Heartbeat was successful",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["userId", "permissions"],
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Permission"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "not authenticated"
          }
        }
      }
    },
    "/technical-auth-token": {
      "summary": "Used to create or delete technical auth tokens",
      "post": {
        "operationId": "createTechnicalAuthToken",
        "tags": ["technicalAuthToken"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnicalAuthTokenMeta"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicalAuthTokenAddResponse"
                }
              }
            }
          }
        }
      }
    },
    "/technical-auth-token/{tokenId}": {
      "summary": "Used to create or delete technical auth tokens",
      "delete": {
        "operationId": "deleteTechnicalAuthToken",
        "tags": ["technicalAuthToken"],
        "parameters": [
          {
            "in": "path",
            "name": "tokenId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/users": {
      "summary": "user endpoint",
      "get": {
        "operationId": "getUsers",
        "tags": ["user"],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addUser",
        "tags": ["user"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserToCreateOrUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "tags": ["user"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateUser",
        "tags": ["user"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserToCreateOrUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "tags": ["user"],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    }
  }
}
